doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Sharinpix
    script(src="dist/sharinpix.js")
    script(src="dist/demo.js")
  body
    input#sharinpixurl(type="text" placeholder="SHARINPIX URL")
    h1 Upload
    input#upload(type="file" multiple="")
    h2 Import
    input#import(type="file" multiple="")
